// Your variable overrides
$primary: #10CFC9;
$secondary: #006B68;
$social: #83C3E6;

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

.btn {
    &-outline-primary {
        border: 2px solid $primary;
    }
    a, &-outline-primary {
        font-family: Montserrat !important;
        font-weight: 600;
        font-size: 14px;
    }
}

a {
    transition: .2s;
    &:hover { text-decoration: none; }
    &.white-to-primary {
        color: white;
        &:hover { color: $primary !important; }
    }
}

.btn:hover { a {color: white;} }

.menu-items {
    font-size: 14px;
    font-weight: 700;
}

.nb-contact {
    font-size: 14px;
    font-weight: 700;
}

.numbered-list {
    &__number {
      width: 30px;
      height: 30px;
      left: -20px;
      border-radius: 50%;
      border: 2px solid white;

    }
    &__text {
      margin-top: 1px;
      margin-left: 1px;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 18px;
    }
}

.list-sm-fix {
  @media only screen and (max-width: 768px) {
    margin-left: 3rem !important;
  }
}

.sm-mb {
    @media only screen and (max-width: 768px) {
        margin-bottom: 3rem;
    }
}